*{
  font-family: 'Montserrat', sans-serif
}

/* ==========Home============== */

.home-info-grid{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  background-color: rgba(12,77,156,1);
  
  padding: 10px 80px;

}

#home-primary-font{
  font-size: 18px;
  line-height: normal;
  color: white;
  font-weight: bold;
}

#home-secondary-font{
  font-weight: 700;
  color: rgba(239,171,174,1);
}

.grid-info-container{
  border-right: white solid 3px;
  padding: 5px;
}

.grid-info-nb{
  padding: 5px;
}

.home-history{
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
margin: 0 auto;
width: 100vw;
padding-left: 20vw;
position: relative;
height: 300px;
background-color: white;
}

.rocks-bg{
  position: absolute;
  top:0;
  bottom:0;
  right: 0vw;
  height: 300px;
}

.best-solution{
    text-align: center;
    font-size: 28px;
    font-weight: bold;
   
}

.best-solution-container{
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  width: 50vw;
  margin: 0 auto;
  padding-top: 40px;
}

.home-machine-images{
  display: flex;
  justify-content: center;
  padding: 50px;
}

.home-text-box{
  position: absolute;
 right: 12vw;
 top: 70vh;  
}

.home-bottom-image-title{
  
  font-size: 28px;
  font-weight: bold;
  padding: 40px;
  margin: 0 auto;
  text-align: center;
}

.home-bottom-images{
  display: flex;
  justify-content: center;
  margin:0 auto;
  padding-bottom: 40px;
}

.home-page{
 position: sticky;
 left: 0;
 right: 0;
 top: 0;
 z-index: -1;
 width: 100vw;


}